#heading-div {
    color: brown;
}

body {
    background-color: black;
}

.para {
    color: purple;
}

.anchor {
    text-decoration: none;
    color: azure;
}

.submit-button {
    width: 200px;
    height: 100px;
    background-color: blue;
    color: white;
    border-radius: 30px;
    margin: 80px 20px;
    padding: 20px 180px;
}

.submit-button:hover {
    background-color: brown;
    border-radius: 0px;
    cursor: pointer;
}

.cat {
    height: 400px;
}